.orgchart{
    background-image: none;
    width: auto;
}
.orgchart.myChart > ul > li > ul li::before {
    border-top-color: #215a88;
  }
  
  .orgchart.myChart > ul > li > ul li .oc-node::before,
  .orgchart.myChart ul li .oc-node:not(:only-child)::after {
    background-color: #215a88;
  }
  
  .orgchart.myChart .oc-node .position {
    box-sizing: border-box;
    background-color: rgb(42, 175, 131);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    padding: 2px;
  }
  
  .orgchart.myChart .oc-node .fullname {
    box-sizing: border-box;
    color: #949c45;
    background-color: #fff;
    width: 100px;
    height: 30px;
    padding: 2px;
    border: 1px solid #215a88;
  }
  